<h2 mat-dialog-title>Bravo !</h2>

<mat-dialog-content>
    @if (winners().length < 2) {
        <h3>{{ winners()[0].id | playerName }} a gagné la partie</h3>
    } @else {
        <h3>
            @for (winner of winners(); track winner.id) {
                <span>{{ winner.id | playerName }}</span>
            }
        </h3>
        <h3>sont à égalité</h3>
    }
    
    <div>Score :</div>
    @for (inGamePlayer of inGamePlayers(); track inGamePlayer.id) {
        <div>{{ inGamePlayer.id | playerName  }} : {{ inGamePlayer.score }}</div>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onClose()">Fermer</button>
</mat-dialog-actions>
