<h1>Que la meilleure carte gagne !</h1>
<section>
    @for (inGamePlayer of inGamePlayers(); track inGamePlayer.id) {
        <div>
            <h2>{{ inGamePlayer.id | playerName }}</h2>
            <span>Score : {{ inGamePlayer.score }}</span>
            <app-card [cardValue]="inGamePlayer.activeCard" [isFlipped]="inGamePlayer.hasPlayed"></app-card>
            <button mat-fab extended [id]="inGamePlayer.id" (click)="onTurnOver(inGamePlayer.id)" [disabled]="inGamePlayer.hasPlayed">Retourner</button>
        </div>
    }   
</section>
