:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    margin: 72px;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

span {
    color: white;
    font-size: 1rem;
}
 
section {
    display: flex;
    gap: 32px;
    div {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
}

button {
    width: 150px;
}