:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.all-players-input {
    display: flex;
    flex-direction: column;
}

.players-management-buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.submit {
    margin-top: 8px;
}