:host {
    display: block;
    padding-top: 80px;
}

h1, h2, h3 {
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: 5rem;
    margin: 24px;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 72px;
    span {
        font-size: 1rem;
        color: black;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    color: white;
    max-width: 620px;
}

.scores {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}
