<h2 mat-dialog-title>Choisissez vos joueurs</h2>

<mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="all-players-input" formArrayName="playersToPick">
            @for (playerToPick of playersToPick.controls; track $index) {
                <mat-form-field>
                    <mat-select [formControlName]="$index">
                        @for (player of players(); track player.id) {
                            <mat-option [value]="player.id" (onSelectionChange)="onChange()">{{ player.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>   
            }
        </div>
        <button mat-raised-button type="button" (click)="addPlayerToPick()">+ Ajouter un joueur</button>
        <button mat-raised-button type="button" (click)="removePlayerToPick()">- Enlever un joueur</button>
        <button class="submit" mat-raised-button type="submit" [disabled]="!form.valid">Valider</button>
    </form>     
</mat-dialog-content>

